<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">

  <Properties>
    <Property name="log-format">%d{hh:MM:ss} %p [%t] %c{1.} %m%n</Property>
  </Properties>

  <Appenders>
    <RandomAccessFile name="file1" fileName="logs/use_http.log"
      append="false">
      <PatternLayout pattern="${log-format}" />
    </RandomAccessFile>
    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout pattern="${log-format}" />
    </Console>
  </Appenders>

  <Loggers>
    <Root level="info">
      <AppenderRef ref="file1" />
      <AppenderRef ref="stdout" />
    </Root>
  </Loggers>
</Configuration>