<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http:/java.sun.com/dtd/web-app_2_3.dtd">

  <servlet>
    <servlet-name>metrics</servlet-name>
    <servlet-class>com.codahale.metrics.servlets.AdminServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>metrics</servlet-name>
    <url-pattern>/metrics/*</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>webMetrics.MyMetricsListener</listener-class>
  </listener>
  <listener>
    <listener-class>webMetrics.MyHealthListener</listener-class>
  </listener>
</web-app>